<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandwhich.tuna.projectlucidity">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.MainActivity" android:label="Lucidity"/>
        <activity android:name=".activities.WelcomeScreenActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <!--Added below line for testing only-->
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.SignUpActivity"/>
        <activity android:name=".activities.ViewPostActivity"/>
        <activity android:name=".activities.AddPostPageActivity"/>
        <activity android:name=".activities.MyAccountActivity"/>
        <activity android:name=".activities.MyLikedPostsActivity"/>
    </application>
</manifest>
